.sub-manager-page {
  .btn-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    &__actions,
    &__pagination {
      display: flex;
      gap: 1.5rem;
    }

    &__actions {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;

      @media screen and (min-width: 640px) {
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
      }

      @media screen and (min-width: 1024px) {
        width: unset;
      }
    }

    &__pagination {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 1rem;

      @media screen and (min-width: 1024px) {
        margin-top: 0;
        width: unset;
      }
    }
  }

  .nb-selected {
    text-align: center;
    margin: 2rem 0 3rem;
    font-size: 1.2rem;
    font-weight: bold;

    &__reset-btn {
      color: var(--orange);
      margin-left: 0.5rem;
      border: none;
      background: none;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 10px 16px;
      border-radius: 24px;

      &:hover {
        cursor: pointer;
        color: var(--dark-orange);
        background: var(--dark-gray);
      }
    }

    @media screen and (min-width: 1024px) {
      margin: 3rem 0 4rem;
    }
  }

  .subscriptions-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;

    &__checkbox {
      width: 100%;

      @media screen and (min-width: 768px) {
        width: calc(50% - 0.5rem);
      }
    }
  }
}
