.button {
  background-color: var(--orange);
  color: var(--light-gray);
  padding: 12px 28px;
  border: none;
  border-radius: 24px;
  text-decoration: none;
  font-size: 1.2rem;

  &--disabled {
    background-color: var(--light-orange);
  }

  &--loading {
    min-height: 46px;

    > span {
      display: block;
      height: 0;
      visibility: hidden;
    }
  }

  &:not(.button--disabled):hover {
    cursor: pointer;
    background-color: var(--dark-orange);
  }
}
