.checkbox {
  --checkmark-size: 24px;

  display: flex;
  align-items: center;
  background-color: var(--black);
  position: relative;
  padding-right: calc(var(--checkmark-size) * 2 + 16px);
  padding-left: calc(var(--checkmark-size));
  min-height: calc(var(--checkmark-size) * 2 + 16px);
  font-size: 1.2rem;
  border-radius: 24px;
  border: 2px solid var(--light-gray);
  word-break: break-all;

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__icon {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }

  &__label {
    padding: 16px 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__nsfw {
    color: var(--red);
  }

  .checkmark {
    position: absolute;
    top: calc(50% - (var(--checkmark-size) / 2));
    right: var(--checkmark-size);
    height: var(--checkmark-size);
    width: var(--checkmark-size);
    background-color: var(--light-gray);
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 8px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid var(--light-gray);
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &:hover {
    cursor: pointer;
    border: 2px solid var(--gray);
    background-color: var(--dark-gray);

    .checkmark {
      background-color: var(--gray);
    }
  }

  &:has(input:checked) {
    background-color: var(--orange);

    .checkmark {
      background-color: var(--blue);

      &:after {
        display: block;
      }
    }

    &:hover {
      background-color: var(--dark-orange);
    }
  }

  &:focus-within {
    outline: 2px solid var(--blue);
  }
}
