:root {
  --black: #1a1a1a;
  --white: #ffffff;
  --gray: #ccc;
  --light-gray: #d7dadc;
  --dark-gray: #242424;
  --orange: #ff4500;
  --light-orange: #e27f5b;
  --dark-orange: #ef4102;
  --blue: #3ea5e6;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--black);
  color: var(--light-gray);
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
