:root {
  --black: #1a1a1b;
  --white: #ffffff;
  --gray: #ccc;
  --light-gray: #d7dadc;
  --dark-gray: #222224;
  --orange: #ff4500;
  --dark-orange: #ef4102;
  --blue: #4fbcff;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--black);
  color: var(--light-gray);
}
